---
import NavbarItem from "./NavbarItem.astro";
---

<nav class="navbar navbar-dark navbar-expand-md pt-4 fixed-top">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center gap-2" href="#">
      <img src="/emerald/favicon.png" alt="Emerald" width="24" />
      <div class="fw-bold fs-5">Emerald</div>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span style="color: white;" class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-content">
        <ul class="navbar-nav me-auto">
          <NavbarItem href="/" title="Download" />
          <NavbarItem href="/" title="Pricing" />
          <NavbarItem href="/" title="Sync" />
          <NavbarItem href="/" title="Publish" />
        </ul>
        <ul class="navbar-nav me-0">
          <NavbarItem href="/" title="Community" />
          <NavbarItem href="/" title="Account" />
        </ul>
      </div>
    </div>
  </div>
</nav>
<style>
  .navbar {
    transition: 500ms;
    background: var(--background);
  }
  .navbar-brand {
    letter-spacing: 0.5px;
    color: var(--text);
    transition: 500ms;
  }
  .navbar-brand:hover {
    color: var(--primary) !important;
  }
  .navbar-toggler {
    z-index: 50;
    padding: 4px 8px;
  }

  .navbar-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: 768px) {
    .navbar-content {
      height: 100vh;
      padding-top: 16px;
      flex-direction: column;
      width: 100%;
      justify-content: start;
      transition: all 0.4s;
      background: inherit;
    }
    .navbar-nav {
      width: 100%;
    }
  }
  .scrolled {
    background: #101010 !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    border-bottom: 1px solid rgb(36, 36, 36);
  }
</style>
<script>
  import $ from "jquery";
  $(document).ready(function () {
    function updateScrollPosition() {
      const scrollTop = $(document).scrollTop()!;
      if (scrollTop > 76) {
        $(".navbar").addClass("scrolled");
      } else {
        $(".navbar").removeClass("scrolled");
      }
    }
    updateScrollPosition();
    $(window).on("scroll", updateScrollPosition);
  });
</script>
